html,
body {
  background-color: #181818 !important; }

h1, h2, h3, h4, h5, h6, p, a, button, td, input[type=text] {
  color: #F3F3F3;
  font-family: "Montserrat", sans-serif;
  padding: 0; }

.log-in-modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }
  .log-in-modal .log-in-modal-content {
    background-color: #535353;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin: 15% auto;
    padding: 20px;
    border-radius: 30px;
    width: 40%; }
    .log-in-modal .log-in-modal-content .log-in.btn {
      align-self: center;
      display: flex;
      flex-flow: column wrap;
      text-decoration: none;
      align-content: center;
      justify-content: center;
      font-size: 25px;
      height: 75px;
      width: 300px;
      border-radius: 30px;
      background-color: #1DB954;
      margin-top: 20px; }
      .log-in-modal .log-in-modal-content .log-in.btn p {
        margin: auto; }
      .log-in-modal .log-in-modal-content .log-in.btn:hover {
        background-color: #1ED760; }

header {
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  display: block; }
  header h1 {
    float: left; }
  header a p {
    float: right;
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    text-decoration: none;
    align-content: center;
    justify-content: center;
    font-size: 18px;
    height: 50px;
    width: 80px;
    border-radius: 30px;
    background-color: #1DB954; }
    header a p:hover {
      text-decoration: none;
      background-color: #1ED760; }

main {
  height: 80vh;
  width: 100%;
  margin-top: 40px; }
  main .playlistTable {
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
    main .playlistTable .playlistItem {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      width: 30%;
      padding: 10px;
      margin: auto;
      text-align: center; }
      main .playlistTable .playlistItem:hover {
        background-color: #535353; }
      main .playlistTable .playlistItem .playlistImage {
        height: 200px;
        width: 200px; }
      main .playlistTable .playlistItem p {
        width: 100%;
        padding-top: 20px;
        font-size: 24px;
        align-self: center; }
  main input {
    background: none; }
  main .setting {
    height: 26px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%; }
    main .setting:focus {
      outline: none; }
    main .setting::-webkit-slider-runnable-track {
      width: 100%;
      height: 14px;
      cursor: pointer;
      background: #535353;
      border-radius: 14px;
      border: 0px solid #000000; }
    main .setting::-webkit-slider-thumb {
      height: 20px;
      width: 40px;
      border-radius: 12px;
      background: #1DB954;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -3px; }
    main .setting:focus::-webkit-slider-runnable-track {
      background: #535353; }

::-webkit-scrollbar {
  width: 15px; }

::-webkit-scrollbar-thumb {
  background: #535353; }

::-webkit-scrollbar-thumb:hover {
  background: #B3B3B3; }

/*# sourceMappingURL=style.css.map */
